@import-normalize;

html {
  /* scroll-behavior: smooth; */
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #0d0d0d;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  @media screen and (max-width: 1439px) {
    background-image: url("./img/svg/orangeDot.svg"),
      url("./img/svg/blueDot.svg");
    background-repeat: no-repeat;
    background-position: top 130px right 0, top 330px left -30px;
  }

  @media screen and (min-width: 1440px) {
    background-image: url("./img/svg/orangeDot.svg"),
      url("./img/svg/blueDot.svg"), url("./img/svg/orangeDot2.svg"),
      url("./img/svg/blueDot2.svg");
    background-repeat: no-repeat;
    background-position: top 280px right 0, top 430px left 95px,
      top 800px left 280px, top 607px right 194px;
  }
}
